.social{
  position: absolute;
  width: fit-content;
  bottom: 2rem;
  right: 7rem;
  display: inline-flex;
  /* background: red; */
  /* overflow: hidden; */
}

/* fiecare iconita in parte */
.social .icon{
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 400ms cubic-bezier(.47,-0.75,.49,1.64);
}

/* background cerc */
.social .icon span{
  position: relative;
  /* marime cerc iconite */
  height: 40px; 
  width: 40px;
  display: flex;
  background: #252525;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  transition: all 400ms cubic-bezier(.47,-0.75,.49,1.64);
}


.eachIcon{
    width: 70%;
    height: 70%;
    margin: auto auto;
}

.social .icon:nth-child(1) span{
    color: #3b5999;
    color: #fff;
}
.social .icon:nth-child(2) span{
    color: #e1306c;
    color: #fff;
}
.social .icon:nth-child(3) span{
    color:  #00cc00;
    color:  #fff;
}
.social .icon:nth-child(4) span{
    color: #4A00A0;
    color: #fff;
}

.social .icon:hover span:first-child{
    color:  #fff;
}


/* tooltip mare creare */
.social .icon .tooltip{
    position: absolute;
    top: 0px;
    background: white;
    color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    font-size: 1rem;
    padding: 10px 18px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms cubic-bezier(.47,-0.75,.49,1.64);
    font-family: "Poppins", sans-serif;
}

/* Doar tooltipu mare mutare in jos*/
.social .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

/* patratelu mic de sub tooltip mare */
.social .icon .tooltip:before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 400ms cubic-bezier(.47,-0.75,.49,1.64);
}

.social .icon:hover span,
.social .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.social .facebook:hover span,
.social .facebook:hover .tooltip,
.social .facebook:hover .tooltip:before{
    background: #3b5999;
}

.social .instagram:hover span,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip:before{
    background: #e1306c;
}

.social .phone:hover span,
.social .phone:hover .tooltip,
.social .phone:hover .tooltip:before{
    background: #00b140;
}

.social .mail:hover span,
.social .mail:hover .tooltip,
.social .mail:hover .tooltip:before{
    background: #4A00A0;
}









/* ============================================================ */


@media (max-width: 700px){
  
  /* div toate icons */
  .social{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 10px;
    bottom: 10%;
    /* background: red; */
    display: block;
  }

  /* fiecare iconita in parte */
  .social .icon{
    margin: 20px 0;
  }

  .social .facebook .tooltip,
  .social .instagram .tooltip{
    display: none;
  }

  .social .icon .tooltip{
    position: absolute;
    top: 0px;
    /* distanta de la care vine tooltipu */
    left: -40px;
    /* bg la care ajunge la final */
    background: none; 
    color: none;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    font-size: 1rem;
    padding: 10px 18px; 
    border-radius: 13px;
    opacity: 0;
    pointer-events: none;
    /* transform: rotate(90deg); */
    transition: all 500ms cubic-bezier(.47,-0.75,.49,1.64);
    font-family: "Poppins", sans-serif;
  }

  .social .icon:hover .tooltip{
    top: 0px;
    left: 130%;
    opacity: 1;
    pointer-events: auto;
    /* transform: rotate(0deg); */
  }

  .social .icon .tooltip:before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    /* bg cu care vine si pleaca dar nu ramane */
    background: none;
    bottom: 0;
    left: 1px;
    transform: translateX(-50%) translateY(-100%) rotate(45deg);
    transition: all 500ms cubic-bezier(.47,-0.75,.49,1.64);
  }
}